@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Distressed&family=Rubik+Glitch&display=swap');

@layer base{
    *{
        @apply m-0 p-0 box-border;
    }

    html{
        font-family: 'Roboto', sans-serif;
    }

    body{
        @apply w-full h-screen bg-black;
    }

    li{
        @apply list-disc italic text-sky-300
    }

    th{
        @apply text-sky-500 text-xl py-8;
        font-family: 'Rubik Glitch', cursive; 
    }
}

@layer components{
    .header{
        font-family: 'Rubik Glitch', cursive; 
    }

    .table-header{
        font-family: 'Rubik Distressed', cursive;
    }

    .information{
        scrollbar-width: thin;
        scrollbar-gutter: stable;
        scrollbar-color: rgb(14 165 233) black;
    }

    .information::-webkit-scrollbar{
        width: 10px;
        background-color: black;
    }
    .information::-webkit-scrollbar-thumb{
        background-color: rgb(14 165 233);
        border-radius: 10px;
    }
}

/*     
font-family: 'Rubik Distressed', cursive;
font-family: 'Rubik Glitch', cursive; 
*/